// mobile
main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .features 
        {
            width: 100%;
            .features-container
            {
                width: 100%;
                padding: 30px;
                padding-top: 150px;
                text-align: center;
                background-color: var(--light-gray);
                h1 {
                    font-size: 200%;
                    font-weight: normal;
                }
                h2,h1{
                    opacity: .8;
                    padding: 0 0 20px 0;
                }
                p {
                    opacity: .6;
                    padding: 0 0 20px 0;
                }
                img {
                    width: 70px;
                    opacity: .8;
                }
                a {
                    color: var(--light-green);
                    font-weight: bold;
                }
                a:hover {
                    font-weight: normal;
                }
                .title
                {
                    width: 100%;
                }
                .content{
                    .el {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}
// tab
@media(min-width:768px)
{
    main 
    {
        section 
        {
            .features 
            {
                .features-container
                {
                    padding: 30px;
                    padding-top: 150px;
                    text-align: left;
                    h1 {
                        font-size: 250%;
                    }
                    .content{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        .el {
                            width: 48%;
                            padding: 30px 0;
                        }
                    }
                }
            }
        }
    }
}
// laptop
@media(min-width:1024px)
{
    main
    {
        section 
        {
            .features 
            {
                .features-container
                {
                    padding: 30px;
                    padding-top: 100px;
                    h2,h1{
                        padding: 0 0 10px 0;
                    }
                    p {
                        padding: 0 0 10px 0;
                    }
                    .title
                    {
                        width: 50%;
                    }
                    .content{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        .el {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .icon {
                                width: 20%;
                            }
                            .cc {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}
// system/pc
@media(min-width:1284px)
{
    main
    {
        section 
        {
            .features 
            {
                .features-container
                {
                    padding: 0 10%;
                    padding-top: 100px;
                }
            }
        }
    }
}