// mobile
main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .services 
        {
            width: 100%;
            .services-container
            {
                width: 100%;
                padding: 30px;
                text-align: center;
                background-color: var(--light-gray);
                h1
                {
                    font-size: 200%;
                }
                h1,h3 
                {
                    padding: 0 0 10px 0;
                    opacity: .8;
                }
                .higlight
                {
                    color: var(--light-green);
                }
                p
                {
                    opacity: .6;
                    padding: 0 0 10px 0;
                }
                a 
                {
                    color: var(--light-green);
                    font-weight: bold;
                }
                a:hover{
                    font-weight: normal;
                }
                .title
                {
                    width : 100%;
                    padding : 20px 0;
                }
                .service-el
                {
                    width : 100%;
                    padding : 20px 0;
                    .el
                    {
                        width : 100%;
                        padding : 20px 0;
                        img 
                        {
                            width: 70px;
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}
// tab
@media(min-width:768px)
{
    main 
    {
        section 
        {
            .services 
            {
                .services-container
                {
                    .service-el
                    {
                        padding : 30px 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .el
                        {
                            width : 32%;
                        }
                    }
                }
            }
        }
    }
}
// laptop
@media(min-width:1024px)
{
    main
    {
        section 
        {
            .services 
            {
                .services-container
                {
                    .service-el
                    {
                        padding : 30px 0;
                        padding-bottom: 100px;
                    }
                }
            }
        }
    }
}
// system/pc
@media(min-width:1284px)
{
    main
    {
        section 
        {
            .services 
            {
                .services-container
                {
                    padding: 0 10%;
                    padding-bottom: 100px;
                    .title
                    {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        h1 
                        {
                            width: 100%;
                        }
                        p 
                        {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}