
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*
@font-face
{
    font-family: home;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face
{
    font-family: home;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face
{
    font-family: home;
    src: url(../fonts/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face
{
    font-family: home;
    src: url(../fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}
body 
{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    --light-gray : #EDF2F7;
    --light-green : #38A169;
    --low-light-green : #C6F6D5;
    --metal-blue : #38B2AC;
    --dark-brown : #394456;
    --light-brown : #394456d5;
    --white : #fff;
    line-height: 1.5;
}
button {
    font-size: 100%;
    outline: 0;
    background-color: transparent;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    transition:  all .3s;
}
a {
    text-decoration: none;
    transition:  all .3s;
}
ul {
    list-style-type: none;
}
input 
{
    border: 0;
    outline: 0;
    background-color: transparent;
}
